<html>
    <head>
        <title>tokbulles sida</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>


<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">tokbulles sida</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Django Girls</a></h2>
            <p>Hade turen att få vara med på en workshop med Django Girls.</p>
        </div>

        <div>
            <p>published: 2018,03,03, 15:19</p>
            <h2><a href="">Om ens dotter...</a></h2>
            <p>vill arbeta som arborist och programmerare när hon blir stor gäller det att hänga med. Då jag är höjdrädd tänkte jag att det är bra att försöka förstå det här med programmering.</p>
        </div>
    </body>
</html>